In [1]:
import opendatasets as od

In [2]:
od.download('https://www.kaggle.com/datasets/yasserh/titanic-dataset')

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: benbrownlie
Your Kaggle Key: ········
Dataset URL: https://www.kaggle.com/datasets/yasserh/titanic-dataset
Downloading titanic-dataset.zip to .\titanic-dataset

100%|█████████████████████████████████████████████████████████████████████████████| 22.0k/22.0k [00:00<00:00, 2.52MB/s]

In [6]:
import pandas as pd

file = (r'C:\Users\bbrow\Desktop\Courses\Developers Institute\Exercises\Week 8\Day 2\ExerciseXP\titanic-dataset\Titanic-Dataset.csv')
titanic_data = pd.read_csv(file)

titanic_data.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
titanic_data.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [13]:
duplicates = titanic_data[titanic_data.duplicated(keep=False)]
print(duplicates)

Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []