In [1]:
!pip install opendatasets
!pip install pandas

Requirement already satisfied: opendatasets in c:\programdata\anaconda3\lib\site-packages (0.1.22)
Requirement already satisfied: tqdm in c:\programdata\anaconda3\lib\site-packages (from opendatasets) (4.65.0)
Requirement already satisfied: kaggle in c:\programdata\anaconda3\lib\site-packages (from opendatasets) (1.6.14)
Requirement already satisfied: click in c:\programdata\anaconda3\lib\site-packages (from opendatasets) (8.0.4)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from click->opendatasets) (0.4.6)
Requirement already satisfied: six>=1.10 in c:\programdata\anaconda3\lib\site-packages (from kaggle->opendatasets) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in c:\programdata\anaconda3\lib\site-packages (from kaggle->opendatasets) (2023.7.22)
Requirement already satisfied: python-dateutil in c:\programdata\anaconda3\lib\site-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (from kaggle->opendatasets) (2.31.0)
Requirement already satisfied: python-slugify in c:\programdata\anaconda3\lib\site-packages (from kaggle->opendatasets) (5.0.2)
Requirement already satisfied: urllib3 in c:\programdata\anaconda3\lib\site-packages (from kaggle->opendatasets) (1.26.16)
Requirement already satisfied: bleach in c:\programdata\anaconda3\lib\site-packages (from kaggle->opendatasets) (4.1.0)
Requirement already satisfied: packaging in c:\programdata\anaconda3\lib\site-packages (from bleach->kaggle->opendatasets) (23.0)
Requirement already satisfied: webencodings in c:\programdata\anaconda3\lib\site-packages (from bleach->kaggle->opendatasets) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\programdata\anaconda3\lib\site-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests->kaggle->opendatasets) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests->kaggle->opendatasets) (3.4)

WARNING: Ignoring invalid distribution -andas (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\programdata\anaconda3\lib\site-packages)

Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (2.1.0)
Requirement already satisfied: numpy>=1.22.4 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.25.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: tzdata>=2022.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

WARNING: Ignoring invalid distribution -andas (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\programdata\anaconda3\lib\site-packages)

In [2]:
import opendatasets as od
import pandas as pd

In [3]:
od.download('https://www.kaggle.com/datasets/uciml/iris')

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: benbrownlie
Your Kaggle Key: ········
Dataset URL: https://www.kaggle.com/datasets/uciml/iris
Downloading iris.zip to .\iris

100%|█████████████████████████████████████████████████████████████████████████████| 3.60k/3.60k [00:00<00:00, 1.30MB/s]

In [4]:
file = (r'C:\Users\bbrow\Desktop\Courses\Developers Institute\Exercises\Week 7\Day 6\DailyChallenge\iris\Iris.csv')
newData = pd.read_csv(file)

newData.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [8]:
file_cleaned = newData.dropna()

In [9]:
newData.rename(columns = {'SepalLengthCm':'SepalLength_cm'})

,Id,SepalLength_cm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [13]:
cleaned_data = newData.rename(columns = {'SepalLengthCm':'SepalLength_cm','SepalWidthCm':'SepalWidth_cm', 'PetalLengthCm':'PetalLength_cm', 'PetalWidthCm':'PetalWidth_cm'})

In [14]:
print(cleaned_data)

      Id  SepalLength_cm  SepalWidth_cm  PetalLength_cm  PetalWidth_cm  \
0      1             5.1            3.5             1.4            0.2
1      2             4.9            3.0             1.4            0.2
2      3             4.7            3.2             1.3            0.2
3      4             4.6            3.1             1.5            0.2
4      5             5.0            3.6             1.4            0.2
..   ...             ...            ...             ...            ...
145  146             6.7            3.0             5.2            2.3
146  147             6.3            2.5             5.0            1.9
147  148             6.5            3.0             5.2            2.0
148  149             6.2            3.4             5.4            2.3
149  150             5.9            3.0             5.1            1.8

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 6 columns]

In [15]:
cleaned_data.to_excel('cleaned_iris_dataset.xlsx', sheet_name='sheet1')

In [17]:
file = (r'C:\Users\bbrow\Desktop\Courses\Developers Institute\Exercises\Week 7\Day 6\DailyChallenge\cleaned_iris_dataset.xlsx')
excel_file = pd.read_excel(file)

excel_file.head(5)

,Unnamed: 0,Id,SepalLength_cm,SepalWidth_cm,PetalLength_cm,PetalWidth_cm,Species
0,0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,4,5,5.0,3.6,1.4,0.2,Iris-setosa