In [1]:
import opendatasets as od

od.download('https://www.kaggle.com/datasets/osmi/mental-health-in-tech-survey')

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: benbrownlie
Your Kaggle Key: ········
Dataset URL: https://www.kaggle.com/datasets/osmi/mental-health-in-tech-survey
Downloading mental-health-in-tech-survey.zip to .\mental-health-in-tech-survey

100%|██████████████████████████████████████████████████████████████████████████████| 48.8k/48.8k [00:00<00:00, 353kB/s]

In [2]:
import pandas as pd

file = (r'C:\Users\bbrow\Desktop\Courses\Developers Institute\Classes\Week 8\Day 3\mental-health-in-tech-survey\survey.csv')
mentalHealth_df = pd.read_csv(file)

mentalHealth_df.head(5)

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN

In [3]:
mentalHealth_df.describe()

                Age
count  1.259000e+03
mean   7.942815e+07
std    2.818299e+09
min   -1.726000e+03
25%    2.700000e+01
50%    3.100000e+01
75%    3.600000e+01
max    1.000000e+11

In [4]:
mentalHealth_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Timestamp                  1259 non-null   object
 1   Age                        1259 non-null   int64
 2   Gender                     1259 non-null   object
 3   Country                    1259 non-null   object
 4   state                      744 non-null    object
 5   self_employed              1241 non-null   object
 6   family_history             1259 non-null   object
 7   treatment                  1259 non-null   object
 8   work_interfere             995 non-null    object
 9   no_employees               1259 non-null   object
 10  remote_work                1259 non-null   object
 11  tech_company               1259 non-null   object
 12  benefits                   1259 non-null   object
 13  care_options               1259 non-null   object
 14  wellness_program           1259 non-null   object
 15  seek_help                  1259 non-null   object
 16  anonymity                  1259 non-null   object
 17  leave                      1259 non-null   object
 18  mental_health_consequence  1259 non-null   object
 19  phys_health_consequence    1259 non-null   object
 20  coworkers                  1259 non-null   object
 21  supervisor                 1259 non-null   object
 22  mental_health_interview    1259 non-null   object
 23  phys_health_interview      1259 non-null   object
 24  mental_vs_physical         1259 non-null   object
 25  obs_consequence            1259 non-null   object
 26  comments                   164 non-null    object
dtypes: int64(1), object(26)
memory usage: 265.7+ KB

In [5]:
mentalHealth_df.isna().sum()

Timestamp                       0
Age                             0
Gender                          0
Country                         0
state                         515
self_employed                  18
family_history                  0
treatment                       0
work_interfere                264
no_employees                    0
remote_work                     0
tech_company                    0
benefits                        0
care_options                    0
wellness_program                0
seek_help                       0
anonymity                       0
leave                           0
mental_health_consequence       0
phys_health_consequence         0
coworkers                       0
supervisor                      0
mental_health_interview         0
phys_health_interview           0
mental_vs_physical              0
obs_consequence                 0
comments                     1095
dtype: int64

In the code below I am replacing the null values from state with the most frequent entries

In [9]:
from sklearn.impute import SimpleImputer
import numpy as np

imputer = SimpleImputer(missing_values = np.nan, strategy ='most_frequent')

state_data = mentalHealth_df[['state']]

imputer = imputer.fit(state_data)

state_data_imputed = imputer.transform(state_data)

mentalHealth_df['state'] = state_data_imputed.flatten()

print("Imputed Data : \n", mentalHealth_df)

Imputed Data :
                 Timestamp  Age  Gender         Country state self_employed  \
0     2014-08-27 11:29:31   37  Female   United States    IL           NaN
1     2014-08-27 11:29:37   44       M   United States    IN           NaN
2     2014-08-27 11:29:44   32    Male          Canada    CA           NaN
3     2014-08-27 11:29:46   31    Male  United Kingdom    CA           NaN
4     2014-08-27 11:30:22   31    Male   United States    TX           NaN
...                   ...  ...     ...             ...   ...           ...
1254  2015-09-12 11:17:21   26    male  United Kingdom    CA            No
1255  2015-09-26 01:07:35   32    Male   United States    IL            No
1256  2015-11-07 12:36:58   34    male   United States    CA            No
1257  2015-11-30 21:25:06   46       f   United States    NC            No
1258  2016-02-01 23:04:31   25    Male   United States    IL            No

     family_history treatment work_interfere    no_employees  ...  \
0                No       Yes          Often            6-25  ...
1                No        No         Rarely  More than 1000  ...
2                No        No         Rarely            6-25  ...
3               Yes       Yes          Often          26-100  ...
4                No        No          Never         100-500  ...
...             ...       ...            ...             ...  ...
1254             No       Yes            NaN          26-100  ...
1255            Yes       Yes          Often          26-100  ...
1256            Yes       Yes      Sometimes  More than 1000  ...
1257             No        No            NaN         100-500  ...
1258            Yes       Yes      Sometimes          26-100  ...

                   leave mental_health_consequence phys_health_consequence  \
0          Somewhat easy                        No                      No
1             Don't know                     Maybe                      No
2     Somewhat difficult                        No                      No
3     Somewhat difficult                       Yes                     Yes
4             Don't know                        No                      No
...                  ...                       ...                     ...
1254       Somewhat easy                        No                      No
1255  Somewhat difficult                        No                      No
1256  Somewhat difficult                       Yes                     Yes
1257          Don't know                       Yes                      No
1258          Don't know                     Maybe                      No

         coworkers    supervisor mental_health_interview  \
0     Some of them           Yes                      No
1               No            No                      No
2              Yes           Yes                     Yes
3     Some of them            No                   Maybe
4     Some of them           Yes                     Yes
...            ...           ...                     ...
1254  Some of them  Some of them                      No
1255  Some of them           Yes                      No
1256            No            No                      No
1257            No            No                      No
1258  Some of them            No                      No

     phys_health_interview mental_vs_physical obs_consequence comments
0                    Maybe                Yes              No      NaN
1                       No         Don't know              No      NaN
2                      Yes                 No              No      NaN
3                    Maybe                 No             Yes      NaN
4                      Yes         Don't know              No      NaN
...                    ...                ...             ...      ...
1254                    No         Don't know              No      NaN
1255                    No                Yes              No      NaN
1256                    No                 No              No      NaN
1257                    No                 No              No      NaN
1258                    No         Don't know              No      NaN

[1259 rows x 27 columns]

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

In [10]:
mentalHealth_df.isna().sum()

Timestamp                       0
Age                             0
Gender                          0
Country                         0
state                           0
self_employed                  18
family_history                  0
treatment                       0
work_interfere                264
no_employees                    0
remote_work                     0
tech_company                    0
benefits                        0
care_options                    0
wellness_program                0
seek_help                       0
anonymity                       0
leave                           0
mental_health_consequence       0
phys_health_consequence         0
coworkers                       0
supervisor                      0
mental_health_interview         0
phys_health_interview           0
mental_vs_physical              0
obs_consequence                 0
comments                     1095
dtype: int64

In [14]:
mental_health_df = mentalHealth_df.dropna(subset=['self_employed'])

In [15]:
mental_health_df.isna().sum()

Timestamp                       0
Age                             0
Gender                          0
Country                         0
state                           0
self_employed                   0
family_history                  0
treatment                       0
work_interfere                264
no_employees                    0
remote_work                     0
tech_company                    0
benefits                        0
care_options                    0
wellness_program                0
seek_help                       0
anonymity                       0
leave                           0
mental_health_consequence       0
phys_health_consequence         0
coworkers                       0
supervisor                      0
mental_health_interview         0
phys_health_interview           0
mental_vs_physical              0
obs_consequence                 0
comments                     1080
dtype: int64

In [16]:
mental_health_df.head(5)

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
18,2014-08-27 11:34:53,46,male,United States,MD,Yes,Yes,No,Sometimes,1-5,...,Very easy,No,No,Yes,Yes,No,Yes,Yes,Yes,NaN
19,2014-08-27 11:35:08,36,Male,France,CA,Yes,Yes,No,NaN,6-25,...,Somewhat easy,No,No,Some of them,Some of them,Maybe,Maybe,Don't know,No,NaN
20,2014-08-27 11:35:12,29,Male,United States,NY,No,Yes,Yes,Sometimes,100-500,...,Somewhat difficult,Maybe,No,Some of them,Some of them,No,No,No,No,NaN
21,2014-08-27 11:35:24,31,male,United States,NC,Yes,No,No,Never,1-5,...,Somewhat difficult,No,No,Some of them,Some of them,No,Maybe,Yes,No,NaN
22,2014-08-27 11:35:48,46,Male,United States,MA,No,No,Yes,Often,26-100,...,Don't know,Maybe,No,Some of them,Yes,No,Maybe,No,No,NaN

In the code below I am replacing the null values from work_interfere with the most frequent entries

In [22]:
imputer = SimpleImputer(missing_values = np.nan, strategy ='most_frequent')

work_interfere_data = mental_health_df[['work_interfere']]

imputer = imputer.fit(work_interfere_data)

work_interfere_data_imputed = imputer.transform(work_interfere_data)

mental_health_df.loc[:,'work_interfere'] = work_interfere_data_imputed.flatten()

print("Imputed Data : \n", mental_health_df)

Imputed Data :
                 Timestamp  Age Gender         Country state self_employed  \
18    2014-08-27 11:34:53   46   male   United States    MD           Yes
19    2014-08-27 11:35:08   36   Male          France    CA           Yes
20    2014-08-27 11:35:12   29   Male   United States    NY            No
21    2014-08-27 11:35:24   31   male   United States    NC           Yes
22    2014-08-27 11:35:48   46   Male   United States    MA            No
...                   ...  ...    ...             ...   ...           ...
1254  2015-09-12 11:17:21   26   male  United Kingdom    CA            No
1255  2015-09-26 01:07:35   32   Male   United States    IL            No
1256  2015-11-07 12:36:58   34   male   United States    CA            No
1257  2015-11-30 21:25:06   46      f   United States    NC            No
1258  2016-02-01 23:04:31   25   Male   United States    IL            No

     family_history treatment work_interfere    no_employees  ...  \
18              Yes        No      Sometimes             1-5  ...
19              Yes        No      Sometimes            6-25  ...
20              Yes       Yes      Sometimes         100-500  ...
21               No        No          Never             1-5  ...
22               No       Yes          Often          26-100  ...
...             ...       ...            ...             ...  ...
1254             No       Yes      Sometimes          26-100  ...
1255            Yes       Yes          Often          26-100  ...
1256            Yes       Yes      Sometimes  More than 1000  ...
1257             No        No      Sometimes         100-500  ...
1258            Yes       Yes      Sometimes          26-100  ...

                   leave mental_health_consequence phys_health_consequence  \
18             Very easy                        No                      No
19         Somewhat easy                        No                      No
20    Somewhat difficult                     Maybe                      No
21    Somewhat difficult                        No                      No
22            Don't know                     Maybe                      No
...                  ...                       ...                     ...
1254       Somewhat easy                        No                      No
1255  Somewhat difficult                        No                      No
1256  Somewhat difficult                       Yes                     Yes
1257          Don't know                       Yes                      No
1258          Don't know                     Maybe                      No

         coworkers    supervisor mental_health_interview  \
18             Yes           Yes                      No
19    Some of them  Some of them                   Maybe
20    Some of them  Some of them                      No
21    Some of them  Some of them                      No
22    Some of them           Yes                      No
...            ...           ...                     ...
1254  Some of them  Some of them                      No
1255  Some of them           Yes                      No
1256            No            No                      No
1257            No            No                      No
1258  Some of them            No                      No

     phys_health_interview mental_vs_physical obs_consequence comments
18                     Yes                Yes             Yes      NaN
19                   Maybe         Don't know              No      NaN
20                      No                 No              No      NaN
21                   Maybe                Yes              No      NaN
22                   Maybe                 No              No      NaN
...                    ...                ...             ...      ...
1254                    No         Don't know              No      NaN
1255                    No                Yes              No      NaN
1256                    No                 No              No      NaN
1257                    No                 No              No      NaN
1258                    No         Don't know              No      NaN

[1241 rows x 27 columns]

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

In [23]:
mental_health_df.head(5)

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
18,2014-08-27 11:34:53,46,male,United States,MD,Yes,Yes,No,Sometimes,1-5,...,Very easy,No,No,Yes,Yes,No,Yes,Yes,Yes,NaN
19,2014-08-27 11:35:08,36,Male,France,CA,Yes,Yes,No,Sometimes,6-25,...,Somewhat easy,No,No,Some of them,Some of them,Maybe,Maybe,Don't know,No,NaN
20,2014-08-27 11:35:12,29,Male,United States,NY,No,Yes,Yes,Sometimes,100-500,...,Somewhat difficult,Maybe,No,Some of them,Some of them,No,No,No,No,NaN
21,2014-08-27 11:35:24,31,male,United States,NC,Yes,No,No,Never,1-5,...,Somewhat difficult,No,No,Some of them,Some of them,No,Maybe,Yes,No,NaN
22,2014-08-27 11:35:48,46,Male,United States,MA,No,No,Yes,Often,26-100,...,Don't know,Maybe,No,Some of them,Yes,No,Maybe,No,No,NaN

In [24]:
mental_health_df.isna().sum()

Timestamp                       0
Age                             0
Gender                          0
Country                         0
state                           0
self_employed                   0
family_history                  0
treatment                       0
work_interfere                  0
no_employees                    0
remote_work                     0
tech_company                    0
benefits                        0
care_options                    0
wellness_program                0
seek_help                       0
anonymity                       0
leave                           0
mental_health_consequence       0
phys_health_consequence         0
coworkers                       0
supervisor                      0
mental_health_interview         0
phys_health_interview           0
mental_vs_physical              0
obs_consequence                 0
comments                     1080
dtype: int64

In the cell below I am dropping the comments column because the majority are na

In [25]:
mental_health_df.drop('comments', axis=1, inplace=True)

C:\Users\bbrow\AppData\Local\Temp\ipykernel_14972\783768391.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mental_health_df.drop('comments', axis=1, inplace=True)

In [26]:
mental_health_df.head(5)

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
18,2014-08-27 11:34:53,46,male,United States,MD,Yes,Yes,No,Sometimes,1-5,...,Yes,Very easy,No,No,Yes,Yes,No,Yes,Yes,Yes
19,2014-08-27 11:35:08,36,Male,France,CA,Yes,Yes,No,Sometimes,6-25,...,Yes,Somewhat easy,No,No,Some of them,Some of them,Maybe,Maybe,Don't know,No
20,2014-08-27 11:35:12,29,Male,United States,NY,No,Yes,Yes,Sometimes,100-500,...,No,Somewhat difficult,Maybe,No,Some of them,Some of them,No,No,No,No
21,2014-08-27 11:35:24,31,male,United States,NC,Yes,No,No,Never,1-5,...,Yes,Somewhat difficult,No,No,Some of them,Some of them,No,Maybe,Yes,No
22,2014-08-27 11:35:48,46,Male,United States,MA,No,No,Yes,Often,26-100,...,Don't know,Don't know,Maybe,No,Some of them,Yes,No,Maybe,No,No

In [30]:
mental_health_country = mental_health_df["Country"].unique()
print(mental_health_country)

['United States' 'France' 'United Kingdom' 'Canada' 'Portugal'
 'Netherlands' 'Switzerland' 'Poland' 'Australia' 'Germany' 'Russia'
 'Mexico' 'Brazil' 'Slovenia' 'Costa Rica' 'Austria' 'Ireland' 'India'
 'South Africa' 'Italy' 'Bulgaria' 'Sweden' 'Colombia' 'Latvia' 'Romania'
 'Belgium' 'New Zealand' 'Zimbabwe' 'Spain' 'Finland' 'Uruguay' 'Israel'
 'Bosnia and Herzegovina' 'Hungary' 'Singapore' 'Japan' 'Nigeria'
 'Croatia' 'Norway' 'Thailand' 'Denmark' 'Bahamas, The' 'Greece' 'Moldova'
 'Georgia' 'China' 'Czech Republic' 'Philippines']

In [31]:
mental_health_anonymity = mental_health_df["anonymity"].unique()
print(mental_health_anonymity)

['Yes' 'No' "Don't know"]

In [36]:
anonymity_counts = mental_health_df['anonymity'].value_counts() 
print(anonymity_counts)

anonymity
Don't know    806
Yes           373
No             62
Name: count, dtype: int64

In [39]:
gender_counts = mental_health_df['Gender'].value_counts() 
print(gender_counts)

Gender
Male                                              605
male                                              205
Female                                            118
M                                                 114
female                                             60
F                                                  38
m                                                  34
f                                                  15
Make                                                4
Male                                                3
Woman                                               3
Cis Male                                            2
Man                                                 2
Female (trans)                                      2
Female                                              2
Trans woman                                         1
msle                                                1
male leaning androgynous                            1
Neuter                                              1
cis male                                            1
queer                                               1
Female (cis)                                        1
Mail                                                1
cis-female/femme                                    1
A little about you                                  1
Malr                                                1
p                                                   1
femail                                              1
Cis Man                                             1
Guy (-ish) ^_^                                      1
Enby                                                1
Agender                                             1
Androgyne                                           1
Male-ish                                            1
maile                                               1
Trans-female                                        1
Cis Female                                          1
something kinda male?                               1
Mal                                                 1
Male (CIS)                                          1
queer/she/they                                      1
non-binary                                          1
Femake                                              1
woman                                               1
Nah                                                 1
All                                                 1
fluid                                               1
Genderqueer                                         1
ostensibly male, unsure what that really means      1
Name: count, dtype: int64

In [47]:
mental_health_df["Gender"].replace(to_replace="male", value="Male", inplace=True)

C:\Users\bbrow\AppData\Local\Temp\ipykernel_14972\1435196856.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mental_health_df["Gender"].replace(to_replace="male", value="Male", inplace=True)

In [52]:
mental_health_df["Gender"].replace(to_replace={
    'M': 'Male',
    'm': 'Male',
    'Make': 'Male',
    'Male': 'Male',
    'Man': 'Male',
    'Cis Male': 'Male',
    'male leaning androgynous': 'Male',
    'msle': 'Male',
    'cis male': 'Male',
    'Mail': 'Male',
    'Malr': 'Male',
    'Cis Man': 'Male',
    'Guy (-ish) ^_^': 'Male',
    'Male-ish': 'Male',
    'ostensibly male, unsure what that really means': 'Male',
    'maile': 'Male',
    'something kinda male?': 'Male',
    'Mal': 'Male',
    'Male (CIS)': 'Male'
}, inplace=True)

C:\Users\bbrow\AppData\Local\Temp\ipykernel_14972\2283122350.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mental_health_df["Gender"].replace(to_replace={

In [111]:
gender_counts = mental_health_df['Gender'].value_counts() 
print(gender_counts)

Gender
Male      979
Female    247
Other      10
Name: count, dtype: int64

In [54]:
mental_health_df["Gender"].replace(to_replace={
    'female': 'Female',
    'F': 'Female',
    'f': 'Female',
    'Woman': 'Female',
    'Female (trans)': 'Female',
    'Female': 'Female',
    'Female (cis)': 'Female',
    'cis-female/femme': 'Female',
    'woman': 'Female',
    'Femake': 'Female',
    'queer/she/they': 'Female',
    'Cis Female': 'Female',
    'Trans-female': 'Female',
    'femail': 'Female',
    'Androgyne': 'Other',
    'Neuter': 'Other',
    'Trans woman': 'Female',
    'A little about you': 'Other',
    'p': 'Other',
    'Agender': 'Other',
    'queer': 'Other',
    'fluid': 'Other',
    'Genderqueer': 'Other',
    'Enby': 'Other',
    'All': 'Other',
    'Nah': 'Other',
    'non-binary': 'Other'
}, inplace=True)

C:\Users\bbrow\AppData\Local\Temp\ipykernel_14972\4160130321.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mental_health_df["Gender"].replace(to_replace={

In [55]:
gender_counts = mental_health_df['Gender'].value_counts() 
print(gender_counts)

Gender
Male       979
Female     245
Other       12
Male         3
Female       2
Name: count, dtype: int64

In [58]:
mental_health_df['Gender'] = mental_health_df['Gender'].str.strip().str.title()
mental_health_df["Gender"].replace(to_replace={
    'Male         ': 'Male',
    'Female       ': 'Female'
}, inplace=True)

C:\Users\bbrow\AppData\Local\Temp\ipykernel_14972\517275977.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mental_health_df['Gender'] = mental_health_df['Gender'].str.strip().str.title()
C:\Users\bbrow\AppData\Local\Temp\ipykernel_14972\517275977.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mental_health_df["Gender"].replace(to_replace={

In [59]:
gender_counts = mental_health_df['Gender'].value_counts() 
print(gender_counts)

Gender
Male      982
Female    247
Other      12
Name: count, dtype: int64

Rows 39 to 59 I was ammending all of the genders so they are either Male, Female or Other --> there was a lot of entries with spelling mistakes or entries that only had 1 count --> so with a lot of these I put them in Other

In [60]:
mental_health_df.head(5)

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
18,2014-08-27 11:34:53,46,Male,United States,MD,Yes,Yes,No,Sometimes,1-5,...,Yes,Very easy,No,No,Yes,Yes,No,Yes,Yes,Yes
19,2014-08-27 11:35:08,36,Male,France,CA,Yes,Yes,No,Sometimes,6-25,...,Yes,Somewhat easy,No,No,Some of them,Some of them,Maybe,Maybe,Don't know,No
20,2014-08-27 11:35:12,29,Male,United States,NY,No,Yes,Yes,Sometimes,100-500,...,No,Somewhat difficult,Maybe,No,Some of them,Some of them,No,No,No,No
21,2014-08-27 11:35:24,31,Male,United States,NC,Yes,No,No,Never,1-5,...,Yes,Somewhat difficult,No,No,Some of them,Some of them,No,Maybe,Yes,No
22,2014-08-27 11:35:48,46,Male,United States,MA,No,No,Yes,Often,26-100,...,Don't know,Don't know,Maybe,No,Some of them,Yes,No,Maybe,No,No

In [62]:
age_counts = mental_health_df['Age'].value_counts() 
print(age_counts)

Age
 29             83
 32             80
 26             75
 27             70
 33             69
 28             68
 34             65
 31             64
 30             63
 25             61
 35             54
 23             49
 24             46
 37             42
 38             39
 36             36
 40             33
 39             32
 43             28
 22             21
 41             21
 42             18
 21             16
 46             12
 45             12
 44             10
 19              9
 18              7
 48              6
 50              6
 20              6
 51              5
 49              4
 56              4
 55              3
 54              3
 57              3
 60              2
 47              2
 11              1
 5               1
 61              1
-1               1
 53              1
 8               1
 58              1
-1726            1
 65              1
 62              1
 99999999999     1
 329             1
-29              1
 72              1
Name: count, dtype: int64

Below I got the mean of the ages and then I replaced any ages that were under 0 with the mean age

In [78]:
mean_age = mental_health_df["Age"].mean()

mental_health_df.loc[mental_health_df["Age"] < 0, "Age"] = mean_age

In [79]:
age_counts = mental_health_df['Age'].value_counts()
pd.set_option('display.float_format', lambda x: '%.0f' % x)
print(age_counts)

Age
29        83
32        80
26        75
27        70
33        69
28        68
34        65
31        64
30        63
25        61
35        54
23        49
24        46
37        42
38        39
36        36
40        33
39        32
43        28
22        21
41        21
42        18
21        16
45        12
46        12
44        10
19         9
18         7
20         6
48         6
50         6
260387     5
51         5
56         4
49         4
54         3
55         3
57         3
60         2
47         2
53         1
11         1
8          1
61         1
58         1
5          1
65         1
62         1
72         1
Name: count, dtype: int64

In the below code I dropped the age data that was over 1000 --> I tried to replace it with the mean but for 5 records it wouldn't replace so I dropped it

In [90]:
mental_health_df.drop(mental_health_df[mental_health_df['Age'] > 1000].index, inplace = True)

C:\Users\bbrow\AppData\Local\Temp\ipykernel_14972\714397738.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mental_health_df.drop(mental_health_df[mental_health_df['Age'] > 1000].index, inplace = True)

In [91]:
age_counts = mental_health_df['Age'].value_counts()
pd.set_option('display.float_format', lambda x: '%.0f' % x)
print(age_counts)

Age
29    83
32    80
26    75
27    70
33    69
28    68
34    65
31    64
30    63
25    61
35    54
23    49
24    46
37    42
38    39
36    36
40    33
39    32
43    28
22    21
41    21
42    18
21    16
45    12
46    12
44    10
19     9
18     7
48     6
20     6
50     6
51     5
56     4
49     4
54     3
55     3
57     3
60     2
47     2
53     1
11     1
8      1
61     1
58     1
5      1
65     1
62     1
72     1
Name: count, dtype: int64

In [92]:
mental_health_df.head(5)

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
18,2014-08-27 11:34:53,46,Male,United States,MD,Yes,Yes,No,Sometimes,1-5,...,Yes,Very easy,No,No,Yes,Yes,No,Yes,Yes,Yes
19,2014-08-27 11:35:08,36,Male,France,CA,Yes,Yes,No,Sometimes,6-25,...,Yes,Somewhat easy,No,No,Some of them,Some of them,Maybe,Maybe,Don't know,No
20,2014-08-27 11:35:12,29,Male,United States,NY,No,Yes,Yes,Sometimes,100-500,...,No,Somewhat difficult,Maybe,No,Some of them,Some of them,No,No,No,No
21,2014-08-27 11:35:24,31,Male,United States,NC,Yes,No,No,Never,1-5,...,Yes,Somewhat difficult,No,No,Some of them,Some of them,No,Maybe,Yes,No
22,2014-08-27 11:35:48,46,Male,United States,MA,No,No,Yes,Often,26-100,...,Don't know,Don't know,Maybe,No,Some of them,Yes,No,Maybe,No,No

With the below code I went through each row to see if there any weird data. In code above I made adjustments to the Gender data and the Age data as they had some strange entries

In [109]:
obs_consequence_counts = mental_health_df['obs_consequence'].value_counts() 
print(obs_consequence_counts)

obs_consequence
No     1056
Yes     180
Name: count, dtype: int64

What is the distribution of mental health conditions among different age groups in the tech industry?

In [116]:
mh_conditions_count = mental_health_df.groupby(['mental_health_consequence', 'Age']).size().sort_values(ascending=False)
print(mh_conditions_count)

mental_health_consequence  Age
Maybe                      29     38
No                         33     32
Maybe                      26     32
No                         32     31
Maybe                      32     31
                                  ..
No                         44      1
                           47      1
                           49      1
                           55      1
Yes                        61      1
Length: 117, dtype: int64

How does the frequency of mental health issues vary by gender?

In [117]:
mh_conditions_gender_count = mental_health_df.groupby(['mental_health_consequence', 'Gender']).size().sort_values(ascending=False)
print(mh_conditions_gender_count)

mental_health_consequence  Gender
No                         Male      404
Maybe                      Male      360
Yes                        Male      215
Maybe                      Female    109
No                         Female     71
Yes                        Female     67
                           Other       5
No                         Other       3
Maybe                      Other       2
dtype: int64

Identify the countries with the highest and lowest reported rates of mental health issues in the tech industry.

In [118]:
mh_conditions_country_count = mental_health_df.groupby(['mental_health_consequence', 'Country']).size().sort_values(ascending=False)
print(mh_conditions_country_count)

mental_health_consequence  Country
Maybe                      United States     295
No                         United States     273
Yes                        United States     169
Maybe                      United Kingdom     72
No                         United Kingdom     69
                                            ...
Yes                        Bahamas, The        1
No                         Czech Republic      1
Maybe                      Latvia              1
Yes                        Colombia            1
                           Bulgaria            1
Length: 87, dtype: int64